.card-img {
    object-fit: cover;
    height: 250px; /* Ajusta el tamaño de las imágenes para un diseño más compacto */
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-5px); /* Efecto de elevación en hover */
}